odoo-addon-l10n_es_aeat_mod322@git+https://github.com/OCA/l10n-spain.git@refs/pull/4836/head#subdirectory=l10n_es_aeat_mod322
odoo-addon-l10n_es_special_prorate@git+https://github.com/nuobit/odoo-addons.git@refs/pull/800/head#subdirectory=l10n_es_special_prorate
