odoo14-addon-account_asset_transfer_extension@git+https://github.com/nuobit/odoo-addons.git@14.0#subdirectory=setup/account_asset_transfer_extension
odoo14-addon-l10n_es_special_prorate@git+https://github.com/nuobit/odoo-addons.git@14.0#subdirectory=setup/l10n_es_special_prorate
odoo14-addon-l10n_es_aeat_vat_special_prorrate@git+https://github.com/nuobit/odoo-addons.git@14.0#subdirectory=setup/l10n_es_aeat_vat_special_prorrate
odoo14-addon-l10n_es_aeat_mod303_special_prorate_regularization@git+https://github.com/nuobit/odoo-addons.git@14.0#subdirectory=setup/l10n_es_aeat_mod303_special_prorate_regularization
odoo14-addon-l10n_es_aeat_mod303_special_prorate_regularization_capital_asset@git+https://github.com/nuobit/odoo-addons.git@14.0#subdirectory=setup/l10n_es_aeat_mod303_special_prorate_regularization_capital_asset
odoo14-addon-l10n_es_account_capital_asset@git+https://github.com/nuobit/odoo-addons.git@14.0#subdirectory=setup/l10n_es_account_capital_asset
odoo14-addon-l10n_es_aeat_prorate_asset@git+https://github.com/nuobit/odoo-addons.git@14.0#subdirectory=setup/l10n_es_aeat_prorate_asset
odoo14-addon-l10n_es_asset_extension@git+https://github.com/nuobit/odoo-addons.git@14.0#subdirectory=setup/l10n_es_asset_extension
odoo14-addon-account_asset_management_extension@git+https://github.com/nuobit/odoo-addons.git@14.0#subdirectory=setup/account_asset_management_extension
odoo14-addon-l10n_es_extension@git+https://github.com/nuobit/odoo-addons.git@14.0#subdirectory=setup/l10n_es_extension
