<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright 2025 Dixmit
     Copyright 2025 NuoBiT - Deniz Gallo <dgallo@nuobit.com>
     License AGPL-3.0 or later (https://www.gnu.org/licenses/agpl). -->
<odoo>
    <menuitem
        id="spms_root_menu"
        name="SPMS"
        sequence="16"
        parent="account.menu_finance_configuration"
    />
</odoo>
